/* src/App.css */
body {
  margin: 0;
  padding: 0;
  font-family: 'Arial', sans-serif;
  background: linear-gradient(to bottom right, #283048, #859398);
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.container {
  width: 80%;
  max-width: 600px;
}

h1 {
  text-align: center;
  margin-top: 20px;
  color: #f08080; /* Light Coral color */
  transition: color 0.3s ease-in-out;
}

/* DreamForm styling */
#dreamForm {
  background-color: #2c3e50; /* Dark Gray color */
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
  margin: 20px 0;
  transition: box-shadow 0.3s ease-in-out;
}

textarea, select {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ffffff;
  border-radius: 5px;
  background-color: #34495e; /* Dark Blue Gray color */
  color: #ffffff;
  transition: background-color 0.3s ease-in-out, border-color 0.3s ease-in-out;
}

label {
  display: block;
  margin-bottom: 10px;
  color: #ffffff;
}

button {
  background-color: #e74c3c; /* Alizarin color */
  color: #ffffff;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

button:hover {
  background-color: #c0392b; /* Darker Alizarin color on hover */
}

/* DreamInterpretation styling */
#dreamInterpretation {
  margin: 20px 0;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

/* DreamInterpretation reveal animation */
#dreamInterpretation.show {
  opacity: 1;
}

/* DreamList styling */
#dreamList {
  background-color: #2c3e50;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
  margin: 20px 0;
  transition: box-shadow 0.3s ease-in-out;
}

#dreamList h2 {
  text-align: center;
  color: #ffffff;
  margin-bottom: 15px;
}

#dreamList ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

#dreamList li {
  margin-bottom: 15px;
}
