body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: linear-gradient(to right, #102e43, #285261, #3e3b3b);
  color: azure;
}

.container {
  text-align: center;
  color: #fff;
}

h1 {
  margin-bottom: 20px;
}