form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  label {
    margin-bottom: 10px;
    color: #fff;
  }
  
  select, button {
    padding: 8px;
    margin-bottom: 15px;
    border: none;
    border-radius: 5px;
  }
  
  button {
    background: black;
    color: azure;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  button:hover {
    background-color: #353535;
  }
  